.header {
  height: 12vh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__nav {
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.15rem;
    gap: 2.5rem;
    width: 50%;

    // &__item{

    // }
  }
}
