.container-medium {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;

  @media (min-width: 1024px) {
    max-width: 85%;
  }
}

body:has(section.home-container, section.login-container) {
  overflow: hidden;
}

.button-container {
  position: relative;
  width: 100%;
  height: 3rem;
  border-radius: 200px;
  border-style: none;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.75px;
  background-color: var(--primary);
  color: var(--background-gradient);
  cursor: pointer;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--secondary);
  }

  &.secondary {
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);

    &:hover {
      border: 2px solid var(--secondary);
      background-color: transparent;
      color: var(--secondary);
    }
  }
}

.input-container {
  position: relative;
  width: 100%;
  height: 3.5rem;
  border-radius: 200px;
  border: 2.25px solid var(--white);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.75px;
  background-color: transparent;
  color: var(--white);
  padding: 0 1rem;

  &:focus {
    outline: 2px solid var(--primary);
  }

  &::placeholder {
    opacity: 0.25;
    color: var(--white);
  }
}

h1.title {
  font-family: PeaceSans;
  font-size: 2rem;
  letter-spacing: 0.85px;
  margin-top: 2rem;
  color: var(--primary);

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}
