.movies {
  padding: 40px 0;

  &__link {
    &--admin {
      font-size: 0.8rem;
    }
  }

  &__heading {
    font-size: 2rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    border:2px solid var(--secondary);
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
    padding: 20px;

    @media screen and (max-width: 550px) {
      flex-direction: column;
    }

    &:hover {
      @media screen and (min-width: 500px) {
        transform: scale(1.05);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__right {
    width: 200px;
    flex-basis: 200px;
    height: 200px;
    margin: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__left {
    flex: 1;
    padding-right: 20px;
  }

  &__title {
    font-size: 1.4rem;
  }

  &__released-at {
    font-size: .80rem;
    font-style: italic;
    margin: 10px 0;
    opacity: .65;
  }

  &__synopsis {
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 10px 0;
  }

  &__film-poster {
    max-width: 100%;
    width: 300px;
  }
}
